@model BrainDump.Models.IssueLabelViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Issues" asp-action="Index" method="get">
    <p>
        <select asp-for="Label" asp-items="Model.Labels">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].IssueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Epic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Module)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Assignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Labels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issues[0].Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Issues) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Epic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Labels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
